<ion-header>
    <ion-navbar>
        <button ion-button menuToggle icon-only>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title *ngIf="quadro">{{quadro.titulo}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding id="page1">
    <ion-grid fixed>
        <h2 id="quadros-heading1" style="color:#1C6CE9;text-align:center;">
            Quadros
        </h2>

        <ion-searchbar placeholder="Pesquise pelo título do quadro"
            name="Pesquisa" id="quadros-search1" class="PesquisarQuadro">
        </ion-searchbar>

        <div class="spacer" style="height:25px;" id="quadros-spacer3"></div>

        <ion-row>
            <ion-col col-4 *ngFor="let quadro of quadros">
                <div color="positive" (click)="goToDetalheQuadros(quadro)" class="item-quadro">
                    <div class="lista-quadro-title">
                        <span>{{quadro.titulo}}</span>
                    </div>

                    <div class="lista-quadro-descricao">
                        <span>{{quadro.descricao}}</span>
                    </div>
                    <ion-note item-right></ion-note>
                </div>
            </ion-col>
        </ion-row>

        <ion-card id="quadros-card21">
            <ion-list></ion-list>
        </ion-card>
    </ion-grid>
</ion-content>