page-quadros {

    .item-quadro {
        cursor: pointer;
        border: 1px solid royalblue;
    }

    .lista-quadro-title {
        text-align: center;
        padding: 10px 0;
    }

    .lista-quadro-descricao {
        text-align: center;
        padding: 20px 0;
    }

}