board-details {

    .item-md {
        padding-left: 0px;
    }

    ion-icon {
        font-size: 23pt !important;
    }

    input {
        border: inherit;
    }

    .page-title {
        color: #1C6CE9;
        font-size: 23pt;
        text-align: center;
    }

    .input-block {
        border: 1px solid #DCDCDC;
        padding: 10px 10px;
    }

}